<section class="conteiner">
        <div class="header">
            <h2>Programas</h2>
            <p>Dependencia</p>
        </div>
    </section>
    <hr>
    <section class="programas">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Consulta Ciudadana</mat-card-title>
                    <mat-card-subtitle>Gobierno del EStado de Durango</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/faro.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    El departamento de consulta ciudadana ofrece una aaplicacion para realizar encuestas y conocer las necesidades del municipio...
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Aplicar</button>
                    <button mat-button>Contacto</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Denuncia Ciudadana</mat-card-title>
                    <mat-card-subtitle>Fiscalia del Estado</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    La Fiscalia del Estado ofrece el apoyo de denuncia ciudadana de cualquier delito por medio de esta aplicacion para que gracias a esta se de a conocer
                    y se le de la importancia a la voz del ciudadano...
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Aplicar</button>
                    <button mat-button>Contacto</button>
                </mat-card-actions>
            </mat-card>
    </section>