<section class="conteiner">
    <div class="header">
        <h2>Denuncias</h2>
        <p>Descripcion</p>
    </div>
</section>
<hr>
<section class="denuncias">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Denuncia Publica</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                En el fraccionamiento Paso Real, varios vecinos se quejaron de la inexistencia del alumbrado publico...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Publicar</button>
                <button mat-button>Editar</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Denuncia Privada</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                Varias dependencias de gobierno, se quejaron de los malos sistemas de seguridad informatica con los que cuentan..
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Publicar</button>
                <button mat-button>Editar</button>
            </mat-card-actions>
        </mat-card>
</section>