div{
    background-color: #0468BE;
    span{
        position: absolute;
        right: 0px;
    }
    button{
        width: 11.5em;
        border-radius: 2px;
        color: #ffffffe0;
        font-style: oblique;
        height: 5pc;
        background-color: #0468BE;
        i, p{
            display: inline;
        }
    }
}