<div class="nadbar">
    <button mat-flat-button routerLink="/index" mat-button>
        <i class="material-icons">
            account_circle
        </i>
        <p>Perfil</p>
    </button>
    <button mat-flat-button routerLink="/index" mat-button>
        <i class="material-icons">
            hourglass_empty
        </i>
        <p>Pago de Servicios</p>    
    </button>
    <button mat-flat-button routerLink="/index" mat-button>
        <i class="material-icons">
            gavel
        </i>
        <p>Denuncia</p>
    </button>
    <button mat-flat-button routerLink="/index" mat-button>
        <i class="material-icons">
            touch_app
        </i>
        <p>Seguimiento</p>    
    </button>
    <button mat-flat-button routerLink="/index" mat-button>
        <i class="material-icons">
            favorite
        </i>
        <p>Resultados</p>
    </button>
    <button mat-flat-button routerLink="/index" mat-button>
        <i class="material-icons">
            work
        </i>
        <p>Programas</p>    
    </button>
    <span>
        <button mat-flat-button routerLink="/index" mat-button>
            <i class="material-icons">
                brightness_2
            </i>
            <p>Cerrar Sesión</p>    
        </button>
    </span>
</div>