.example-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}
.header{
    p{
        margin-left: auto;
        margin-right: auto;
    }
}
hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}