<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
            <mat-card class="example-card">
                    <img mat-card-image src="../../assets/telmex.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button mat-flat-button color="accent">Pagar</button>
                        
                    </mat-card-actions>
                </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card class="example-card">
                    <mat-card-header>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/Netflix.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button mat-flat-button color="accent">Pagar</button>
                    </mat-card-actions>
                </mat-card>
        

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="../../assets/megacable.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button mat-flat-button color="accent">Pagar</button>
            </mat-card-actions>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

    <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="../../assets/cfe.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button mat-flat-button color="accent">Pagar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <p>Hola Mundo</p>
